<h1>Browse {{ vm.data.categoryType.name }}s</h1>

<table class="browse grid_table">
    <tbody>
        <tr ng-repeat="packRow in vm.data.chunkedPacks">
            <td ng-repeat="pack in packRow" width="20%">
                <div class="pattern">
                    <div class="image" style="width:75px; height:75px;">
                        <a href="{{ pack.link }}">
                            {{ image = pack.images.size75;"" }}
                            <img
                                width="{{ image.width }}"
                                height="{{ image.height}}"
                                src="{{ image.src }}"
                                alt="{{ pack.name }}"
                            >
                        </a>
                    </div>

                    <p>
                        <a href="{{ pack.link }}">{{ pack.name }}</a>
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
