<h1>Browse {{ vm.data.categoryType.name }}s</h1>

<table class="browse grid_table">
    <tbody>
        <tr ng-repeat="categoryRow in vm.data.chunkedCategories">
            <td ng-repeat="category in categoryRow" width="20%">
                <div class="pattern">
                    <div class="image" style="width:75px; height:75px;">
                        <a href="{{ category.link }}">
                            {{ image = category.image;"" }}
                            <img
                                width="{{ image.width }}"
                                height="{{ image.height}}"
                                ng-src="{{ image.url }}"
                                alt="{{ category.name }}"
                            >
                        </a>
                    </div>

                    <p>
                        <a href="{{ category.link }}">{{ category.name }}</a>
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
