<h1>Your Geek Stitch Shopping Cart</h1>

<div ng-show="cart.items.length === 0">
    Your cart is currently empty
</div>

<table class="cart" width="100%" ng-show="vm.items.length !== 0">
    <thead>
        <tr><th colspan="2">&nbsp;</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cartItem in vm.items">
            <td>
                <a ng-href="{{ cartItem.product.link }}">
                    {{ image = cartItem.product.image;"" }}
                    <img
                        width="{{ image.width }}"
                        height="{{ image.height}}"
                        ng-src="{{ image.url }}"
                        alt="{{ cartItem.product.name }}"
                    />
                </a>
            </td>
            <td>
                <a ng-href="{{ cartItem.product.link }}">
                    {{ cartItem.product.name }}
                </a>
            </td>
            <td>
                {{ cartItem.product.price|currency:"&pound;" }}
            </td>
            <td>
                <input
                    ng-model="cartItem.quantity"
                    ng-change="vm.setPackQuantity(cartItem.product.handle, cartItem.quantity)"
                    type="number"
                    min="1"
                    style="width: 42px; text-align: center"
                />
            </td>
            <td>
                {{ (cartItem.product.price * cartItem.quantity)|currency:"&pound;" }}
            </td>
            <td>
                <img
                    width="24"
                    height="24"
                    src="./img/icon/delete.gif"
                    alt="del"
                    ng-click="vm.removeCartItem(cartItem.product.handle)"
                />
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" style="text-align: right">
                <p ng-repeat="(handle, shippingType) in vm.data.shippingTypes">
                    <label ng-for="shipping_type_{{ handle }}">
                        <input
                            type="radio"
                            id="shipping_type_{{ handle }}"
                            name="shipping_type"
                            ng-value="handle"
                            ng-checked="vm.shippingType.handle == handle"
                            ng-click="vm.selectShippingType(handle)"
                        >

                        {{ shippingType.name }} ({{ shippingType.cost|currency:'&pound;' }})
                    </label>
                </p>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: right; padding: 12px; font-weight: bold">Total:</td>
            <td>{{ vm.totalCost|currency:'&pound;' }}</td>
            <td>&nbsp;</td>
        </tr>
    </tfoot>
</table>

<form method="post" action="./order/expresscheckout" ng-show="cart.items.length !== 0">
    <p style="text-align:center">
        <input
            type="image"
            name="submit"
            src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"
            border="0"
            align="top"
            alt="Check out with PayPal"
        >
    </p>
</form>
