<h1>Contact Us</h1>

<form method="post">
    <p><b>Your Email Address:</b></p>

    <p><input type="text" name="email" size="42"></p>

    <p><b>Your Message:</b></p>

    <textarea name="message" rows="10" cols="50"></textarea>

    <p><input type="submit" name="submit" value="Contact Us!"></p>
</form>

<br />

<p>
    Please note that we will reply from <a href="mailto:contactus@geekstitch.co.uk">contactus@geekstitch.co.uk</a>.
    Please make sure you either add this address to your spam filter or check your spam folder to make sure you don't miss our reply.
</p>