<h1>Frequently Asked Questions</h1><h2>What do I get in my Pack?</h2>
<p>Each of our cross stitch packs contains everything you need to make yourself your very own piece of geeky cross stitch. Namely,</p>
<ul>
    <li>A piece of <a href="http://en.wikipedia.org/wiki/Aida_cloth">14-count aida cloth</a> (cross stitching fabric) of the correct size for your pack</li>
    <li>A pattern chart of your chosen design</li>
    <li>Thread card with all the threads you need for your pattern, labelled with the symbol used on the pattern chart</li>
    <li>Instructions on how to cross stitch</li>
    <li>A needle</li>
</ul>

<h2>I don't know if I'd be any good at cross stitch...</h2>
<p>
    Cross stitching is easy! Basically, if you can thread a needle, you can cross stitch, but if you want to start
    with something simple to build up your confidence, the
    <a href="#/pack/deathly-hallows-sign">deathly hallows sign</a>
    has proved particularly popular for this.</p>
<p>
    Of course, any of the smaller designs would be fine for this purpose -
    the <a href="#/pack/assassins-creed-logo">Assassin's Creed Logo</a>
    and the <a href="#/pack/stargate-earth-symbol">Stargate Earth Symbol</a>
    in particular are both simple single-colour patterns that nonetheless are very striking.
</p>
<p>
    Alternatively, the
    <a href="#/genre/retro">retro category</a> provides plenty of patterns
    that are still limited to only a handful of colours, and are very straight forward.
</p>
<p>
    Or you can always just jump straight in with an <a href="#/pack/oddish">Oddish</a>
    or a <a href="#/pack/rainbow-dash">Rainbow Dash</a>; it's really up to you!
</p>

<h2>Some of the pictures on the site look a little different...</h2>
<p>
    Where possible we use an actual scan of a pattern that we have completed, but cross-stitching takes time and unfortunately the
    number of patterns we have offer means that it's impossible for us to produce completed versions of every patttern, so
    many of the images used are computer generated previews. They are however designed to be acurate representations of the finished article.
</p>
<p>
    If you've finished a pattern and want to share it with us, either as a scan or a photo of your proudly displayed hard work, we'd love to see it,
    and maybe it will even end up on the website.
</p>

<h2>I have another question</h2>
<p>
    Feel free to <a href="#/contact-us">contact us</a> with any other queries you may have.
</p>
