<h1>{{ vm.data.pack.name }}</h1>

<div class="fullview pattern">
    <div class="categories" ng-hide="vm.data.pack.categories.length == 0">
        <span class="label">Categories:</span>

        <span ng-repeat="category in vm.data.pack.categories">
            <a
                class="category_link"
                href="{{ category.link }}"
            >{{ category.name }}</a>{{ (!$last ? ', ' : '') }}
        </span>
    </div>

    <div class="image">
        {{ image = vm.data.pack.image;"" }}
        <img
            width="{{ image.width }}"
            height="{{ image.height}}"
            ng-src="{{ image.url }}"
            alt="{{ pack.name }}"
        />
    </div>

    <div>
        <p><b>Cost:</b> {{ vm.data.pack.price|currency:'&pound;' }}</p>

        <p>
            If you have any questions about this pack, please check out <a href="#/faq">the FAQ page</a>
            or feel free to <a href="#/contact-us">contact us</a>.
        </p>

        <p style="font-size:large; text-align:center; color: #888;">
            [ <a href="./cart/add/{{ vm.data.pack.handle }}">Click Here to Add to Cart</a> ]
        </p>
    </div>
</div>