<h1>{{ vm.data.pack.name }}</h1>

<div class="fullview pattern">
    <div class="categories" ng-hide="vm.data.pack.categories.length == 0">
        <span class="label">Categories:</span>

        <span ng-repeat="category in vm.data.pack.categories">
            <a
                class="category_link"
                href="{{ category.link }}"
            >{{ category.name }}</a>{{ (!$last ? ', ' : '') }}
        </span>
    </div>

    <div class="image">
        {{ image = vm.data.pack.image;"" }}
        <img
            width="{{ image.width }}"
            height="{{ image.height}}"
            ng-src="{{ image.url }}"
            alt="{{ pack.name }}"
        />
    </div>

    <div>
        <p style="text-align: right">
            <span class="cost-block" style="vertical-align: top">
                {{ vm.data.pack.price|currency:'&pound;' }}
            </span>

            <span class="cartButtonWrapper">
                <button
                    ng-click="vm.addToCartAction()"
                    class="btn btn-large"
                    href="./cart/add/{{ vm.data.pack.handle }}"
                    tooltip="added"
                >
                    Add to Cart
                </button>

                <span class="inCartMessage" ng-show="vm.inCartQuantity !== 0">
                    {{ vm.inCartQuantity }} in cart
                </span>
            </span>
        </p>

        <p style="text-align: center">
            If you have any questions about this pack, please check out <a href="#/faq">the FAQ page</a>
            or feel free to <a href="#/contact-us">contact us</a>.
        </p>
    </div>
</div>