<h1>Your Geek Stitch Shopping Cart</h1>

<table ng-controller="CartController" class="cart" width="100%">
    <thead>
        <tr><th colspan="2">&nbsp;</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cartItem in cart.items">
            <td>
                <a ng-href="./pattern/view/{{ cartItem.product.handle }}">
                    <img
                        width="75"
                        height="75"
                        ng-title="{{ cartItem.product.name }}"
                        ng-src="./img/patterns/previews/thumbnails/{{ cartItem.product.handle }}(75x75).png"
                        ng-alt="{{ cartItem.product.name }}"
                    />
                </a>
            </td>
            <td>
                <a ng-href="./pattern/view/{{ cartItem.product.handle }}">1UP Mushroom</a>
            </td>
            <td>
                {{ cartItem.product.price|currency:"&pound;" }}
            </td>
            <td>
                <input ng-model="cartItem.quantity" type="number" size="2">
            </td>
            <td>
                {{ (cartItem.product.price * cartItem.quantity)|currency:"&pound;" }}
            </td>
            <td><a href="./cart/remove/1up-mushroom"><img src="./img/icon/delete.gif" alt="del" title="del"></a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" style="text-align: right">
                <p ng-repeat="(handle, shippingType) in shippingTypes" ng-for="shipping_type_{{ shipping_type.handle }}">
                    <input
                        type="radio"
                        id="shipping_type_{{ handle }}"
                        name="shipping_type"
                        ng-model="cart.shipping"
                        ng-value="handle"
                        ng-checked="handle == cart.shipping"
                    >

                    {{ shippingType.name }} ({{ shippingType.cost|currency:'&pound;' }})
                </p>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: right">Total</td>
            <td>{{ cart.total|currency:'&pound;' }}</td>
            <td>&nbsp;</td>
        </tr>
    </tfoot>
</table>
