<div id="sidebar">
    <div id="header">
        <div id="logo">
            <a href="./#/" style="text-decoration:none;">
                <img src="./img/logo.png" width="228" height="190" alt="Geek Stitch" style="display:inline-block"/>
            </a>
        </div>
    </div>

    <div id="head_nav">
        <gs-category-type-panel category-type="genres"></gs-category-type-panel>
    </div>

    <div id="splash"></div>

    <div id="tail_nav">
        <gs-category-type-panel category-type="fandoms"></gs-category-type-panel>
    </div>

    <br />

    <div id="sidebar_foot"></div>
</div>
